# Build generated
build/
DerivedData/

# Intellij
*.iml
.idea

# Android Studio
captures/
.externalNativeBuild

# Built Android application files
*.apk

# Google Services (ex. APIs and Firebase)
google-services.json
GoogleService-Info.plist

# Firebase Hosting
.firebaserc
firebase-debug.log

# Other
.gradle
local.properties
.DS_Store
*.aar
*.zip
.project
.settings
.classpath
.vscode